//Variables//
$menu-height: 25px;
$toolbar-height: 25px;
$property-panel-width: 200px;
$footer-height: 25px;

//Mixins //
@mixin box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@mixin box-shadow($hor, $vert, $blur, $color) {
	box-shadow: $hor $vert $blur $color;
	-moz-box-shadow: $hor $vert $blur $color;
	-webkit-box-shadow: $hor $vert $blur $color;
}

/** CSS start **/
.t3-clear {
	clear:both;
}
.t3-topbar {
	@include box-shadow(0px, 1px, 3px, #000000);
    background: -moz-linear-gradient(center top , #444444, #2D2D2D) repeat scroll 0 0 transparent;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: $menu-height;
    line-height: $menu-height;
    z-index: 10010;
}

.t3-topbar li {
	float:left;
	list-style-type:none;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	color: #ffffff;
	text-shadow: 0 -1px 0 #000000;
}

.t3-topbar li.t3-active {
	background: -moz-linear-gradient(center top , #373737, #555555) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#373737), to(#555555));
	text-shadow: 1px 0 6px #FF8700, -1px -1px 0 #000000;
}

.t3-rightarea {
	@include box-shadow(-2px, 0px, 3px, rgba(0, 0, 0, 0.5));
	@include box-sizing;
    background: -moz-linear-gradient(center top , #2D2D2D, #111111) repeat scroll 0 0 transparent;
    height: 100%;
    margin-top: $menu-height;
    position: fixed;
    right: 0;
    top: 0;
    width: $property-panel-width;
    z-index: 10011;
}
body {
	margin-right: $property-panel-width;
}

.t3-toolbar {
	@include box-shadow(-1px, 2px, 3px, rgba(0, 0, 0, 0.5));
    background: -moz-linear-gradient(center top , #555555, #373737) repeat scroll 0 0 transparent;
    height: $toolbar-height;
    left: 0;
    position: fixed;
    right: $property-panel-width;
    top: $menu-height;
    z-index: 10012;
}
.t3-breadcrumbmenu {
	background: -moz-linear-gradient(center top , #2D2D2D, #111111) repeat scroll 0 0 transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    height: $footer-height;
    right: $property-panel-width;
    z-index: 10012;
    @include box-shadow(-1px, -2px, 3px, rgba(0, 0, 0, 0.5))
}