.typo3-clear {
	clear:both;
}
.typo3-topbar {
	width:100%;
	background:-moz-linear-gradient(top,#555,#222);
	height:25px;
	position:fixed;
	top:0;
	left:0;
	z-index:10010;
}

.typo3-topbar li {
	float:left;
	list-style-type:none;
	height:100%;
	padding-left:20px;
	padding-right:20px;
	font-weight:bold;
	color:white;
}

.typo3-topbar li.typo3-active {
	background:-moz-linear-gradient(top,#AAA,#DDD);
	color:black;
}

.typo3-rightarea {
	position:fixed;
	right:0;
	top:0;
	height:100%;
	width:200px;
	background:-moz-linear-gradient(top,#222,#000);
	z-index:10000;
}
body {
	margin-right:200px;
}

.typo3-actionmenu {
	position:fixed;
	top:25px;
	left:0;
	right:200px; /* see .typo3-rightarea::width */
	height:20px;
	background:-moz-linear-gradient(top,#DDD,#FFF);
	z-index:10011;
}
.typo3-breadcrumbmenu {
	position:fixed;
	bottom:0;
	left:0;
	right:200px; /* see .typo3-rightarea::width */
	height:20px;
	background:-moz-linear-gradient(top,#111,#000);
	z-index:10011;
}